.paginator {
    margin: 10px;
    text-align: center;
}

.pageNumber {
    padding: 2px;
    margin: 5px;
}

.selectedPage {
    font-weight: 600;
    font-size: 25px;
    color: #0bd40b;
    border: none;
}

.pageNumber:hover {
    font-size: 16px;
    background: #374960; /* Цвет фона */
    box-shadow: 0 0 5px rgba(0, 0, 1, 1); /* Параметры тени */
    /* padding: 5px;*/
    border-radius: 3px;
}

.paginator button {
    font-weight: 600;
    font-size: 14px;
    color: white;
    box-shadow: 2px 2px 2px gray;
    background-color: #1b6d62;
    border: none;
    border-radius: 5px;
}

.paginator button:hover {
    font-size: 16px;
    font-weight: bold;
    background: #374960; /* Цвет фона */
    box-shadow: 0 0 5px rgba(0, 0, 1, 1); /* Параметры тени */
    /* padding: 5px;*/
    border-radius: 3px;
}