.friends {
    border: 1px solid black;
    color: white;
    position: center;
    background-color: #3c526d;
    border-bottom-left-radius: 25px;
    padding: 5px;
}

.friends h3 {
    text-align: center;
    background: #374960; /* Цвет фона */
    box-shadow: 0 0 15px rgba(0, 0, 0.1, 1); /* Параметры тени */
    padding: 15px;
    color: dodgerblue;
}