.friends img {
    width: 50px;
    border-radius: 10px;
}

.friends {
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 5px;



}

.friends a {
    text-decoration: none;
    color: white;
}

.friends a:hover {
    color: firebrick;

}

.friends a.active {
    color: darkslateblue;

    background: #fc0; /* Цвет фона */
    box-shadow: 0 0 5px rgba(0, 0, 1, 1); /* Параметры тени */
    padding: 10px;

}

