.header {
    grid-area: h;
    background-color: deepskyblue;
    border: 1px solid black;

}

.header img {
    width: 110px;
    margin-left: 50%;
    margin-top: 0%;
}


.loginBlock {
    float: right;
    margin-right: 15px;

}

.loginBlock a {
    color: yellow;
}
