.header {
    grid-area: h;
    background-color: #3c526d;
    border: 1px solid black;

}

.header img {
    width: 110px;
    margin-left: 50%;
    margin-top: 0;
}


.loginBlock {
    float: right;
    margin-right: 15px;
    color: white;
    font-size: 20px;
    margin-top: 15px;

}

.loginBlock button {
    width: 100px;
    height: 36px;
    font-weight: 600;
    font-size: 14px;
    color: black;
    background-color: #15ce5d;
    border: none;
    border-radius: 5px;
    text-align: left;
}
.loginBlock img {
    width: 20px;
    padding: 0;
    display: inline;
    margin-left: auto;
}

.loginBlock button:hover {
    color: #b50f10;
    box-shadow: 5px 5px 5px #343848;
    padding: 10px;
}


.loginBlock a {
    color: yellow;
}

.loginBlock a:hover {
    color: #0eb50e;
    box-shadow: 5px 5px 5px #343848;
    padding: 10px;
}
