.nav {
    grid-area: n;
    background-color: cornflowerblue;
    padding: 20px;

}


.item a {
    color: white;
    text-decoration: none;
    }
.item a:hover {
    font-size: 25px;
    font-weight: bold;
    border: 2px solid darkred;
    padding: 4px;
    border-radius: 15px;
    background-color: forestgreen;


}

.item a.active {
    color: blue;
    font-weight: bold;
    font-size: 30px;

}

