.nav {
    grid-area: n;
    background-color: cornflowerblue;
    padding: 20px;
    opacity: 95%;
    border: 1px solid black;

}


.item a {
    color: white;
    text-decoration: none;
    }
.item a:hover {
    font-size: 25px;
    font-weight: bold;
    border: 2px dashed darkred;
    padding: 4px;
    border-radius: 15px;



}

.item a.active {
    color: blue;
    font-weight: bold;
    font-size: 30px;

}

