
.ava {
    width: 120px;
    padding: 10px;
}

.cardProf {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.headimg {
    width: 1000px;
    height: 350px;
}

.discriptionBlock {
    padding: 10px;
}