
.mainFormwrapp {
    display: block;
    width: 250px;
    height: 300px;
    background-color: #374960;
    margin: 20px;
    padding: 30px 60px 30px 60px;
    box-shadow: 5px 5px 5px #66D9C6;
    border-radius: 5px;
    text-align: center;
}

.loginForm button {
    width: 250px;
    height: 36px;
    font-weight: 600;
    font-size: 25px;
    color: white;
    box-shadow: 5px 5px 5px gray;
    background-color: #5BCEBF;
    border: none;
    border-radius: 5px;
}

.loginForm input[type="text"] {
    width: 250px;
    height: 25px;
    border: none;
    border-bottom: 1px green solid;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 15px;
    background-color: #374960;
}
.loginForm input[type="password"] {
    width: 250px;
    height: 25px;
    border: none;
    border-bottom: 1px green solid;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 15px;
    background-color: #374960;
}


.loginForm input[type="checkbox"] {
    font-weight: bold;
    font-size: 18px;
    margin-right: auto;
    display: block;
}

.mainFormwrapp h1 {
    font-weight: 600;
    text-decoration: underline #61D4C3;
    margin-top: 0;

}

.formSummaryError {
    border: #fff00e 3px solid;
    padding: 5px;
    color: #ff142a;
}