.loginForm {
    text-align: center;
    width: 400px;
    background-color: #374960;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #66D9C6;

}

.loginForm input[type="text"] {
    width: 250px;
    height: 25px;
    border: none;
    border-bottom: 1px green solid;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 15px;
    background-color: #374960;
}

.loginForm input[type="checkbox"] {
    font-weight: bold;
    font-size: 18px;
    margin-right: auto;
    display: block;
    margin-left: 75px;
}

.loginForm button {
    width: 250px;
    height: 36px;
    font-weight: 600;
    font-size: 25px;
    color: white;
    margin-bottom: 15px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px gray;
    background-color: #5BCEBF;
    border: none;
    border-radius: 5px;

}

.loginForm button:hover {
    background-color: #00d5ff
}

.loginForm h1 {
    font-weight: 600;
    text-decoration: underline #61D4C3;

}