.dialogs {
    display: grid;
    grid-template-columns: 4fr 10fr;

}


.dialogsItems {
    padding: 10px;
}
.dialogsItems .active {
    color: blue;
}

.dialogsItems a {
    color: white;
    text-decoration: none;
}

.dialogsItems a.active {
    color: aqua;
    font-weight: bold;
    font-size: 25px;
    border: none;
    background: crimson; /* Цвет фона */
    box-shadow: 0 0 5px rgba(0, 0, 1, 1); /* Параметры тени */
    padding: 10px;
   
}
.messages {
    padding: 10px;
}


.active img {
    width: 50px;
    padding: 5px;
    border-radius: 10px;
}


.dialogs textarea {
    background: yellow; /* Цвет фона */
    box-shadow: 0 0 5px rgba(0, 0, 1, 1); /* Параметры тени */
    padding: 10px;
}

.dialogs button {
    background: deepskyblue; /* Цвет фона */
    box-shadow: 0 0 5px rgba(0, 0, 1, 1); /* Параметры тени */
    padding: 10px;
}