.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}


.dialogsItems {
    padding: 10px;
}
.dialogsItems .active {
    color: blue;
}

.dialogsItems a {
    color: white;
    text-decoration: none;
}

.dialogsItems a.active {
    color: aqua;
    font-weight: bold;
    font-size: 25px;
}
.messages {
    padding: 10px;
}

.message {

}