.dialogs {
    display: grid;
    grid-template-columns: 4fr 10fr;

}


.dialogsItems {
    padding: 10px;
}
.dialogsItems .active {
    color: blue;
}

.dialogsItems a {
    color: white;
    text-decoration: none;
}

.dialogsItems a.active {
    color: aqua;
    font-weight: bold;
    font-size: 25px;
    border: none;
   
}
.messages {
    padding: 10px;
}

.message {

}

.active img {
    width: 50px;
    padding: 5px;
}

.active {
    border: 1px solid black;
}